
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
  width: 100%;
  overflow-x: hidden;
}

.myApp {
  font-family: "Work Sans", sans-serif;
  width: 100%;
}
.header {
  background: white;
  width:100%;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav__moreverti{
   display: none;
  }
  .logo {
    .logo__image {
      width: 136px !important;
      height: 30px !important;
    }
  }
  * {
    /*  border:2px solid $active;*/
  }
}
/*
**
** Top navigation style
**
*/
.nav {
  display: flex;
  width: 30%;
}
.nav__container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  .nav__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-decoration-line: underline;
    color: #213f7d;
  }
  .nav__link:active {
    color: #213f7d;
  }
  .nav__user-menu {
    display: flex;
    align-items: center;
    .nav__avatar {
        img{
          width: 48px;
          aspect-ratio: 1/1;
          border-radius: 100%;

        }
    }
    .nav__text {
      padding: 0 8px;
    }
  }
  .nav__icon-button {
    background-color: inherit;
    border: none;
  }
}
/*
**
**search box style
**
*/
.search__container {
  display: flex;
  align-items: center;
  .search__input {
    padding: 12px 20px;
    border: 1px solid #21407d33;
    border-radius: 8px 0px 0px 8px;
    width: 30vw;
    height:3.1vw;
    outline: none;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 1rem;
    color: #545f7db3;
  }
  .search__btn {
    border-radius: 0px 8px 8px 0px;
   width: 56px;
    height:3.1vw;
    vertical-align: center;
    background-color: $main-btn;
    outline: none;
    border: none;
  }
}

/*
**
**sidebar styles
**
*/
.side-bar {
  width: 249px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  .side-bar__dropdown {
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: $primary;
    padding: 32px 0px 32px 27px;
  }
  .side-bar__header {
    display: flex;
    align-items: center;
    padding: 13px 27px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: $primary;
  }
  .dashboard__header {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 12px;
    line-height: 14px;
    color: $secondary;
    padding: 5px 35px;
  }
  .dashboard__link-wrap {
    padding: 15px 0px;
  }
  .dashboard__link {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 249px;
    padding: 13px 27px;
  }
  .dashboard__icon {
    padding: 0px 9.8px 0px 4.8px;
    backdrop-filter: opacity(0.5);
  }
  .dashboard__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #545f7dbb;
  }
}
.dashboard__pagination{
  width: 189px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    .page-btn{
      cursor: pointer;
      padding:4px;
    }
}
/*
**
**user table display styles
**
*/
.main {
  display: flex;
  width: 100%;
}
.user {
  width: 100%;
  padding: 55px;
}
.user__header {
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 0;
  color: $primary;
}
.user-table {
  min-height: 500px;
  padding: 30px;
  background-color: white;
  color: $secondary;
  position: relative;
}

.m-user-display__table{
  display: none;
}
.user-table-data__text{
  white-space: wrap;
  word-wrap: break-word;
  display: block;
  width:100px;
  overflow-x:auto;
}
.user-table-data--rounded {
  padding: 5px 10px;
  text-align: center;
}
.user-table__data--active {
  background-color: $activelight;
  color: $active;
  border-radius: 100px;
}
.user-table__data--inactive {
  background-color: $secondarylight;
  color: $secondary;
  border-radius: 100px;
}
.user-table__data--blacklisted {
  background-color: $blacklistedlight;
  color: $blacklisted;
  border-radius: 100px;
}
.user-table__data--pending {
  background-color: $pendinglight;
  color: $pending;
  border-radius: 100px;
}

/*change later*/
td {
  text-align: start;
  padding: 15px 7px;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: wrap;
  word-wrap: break-word;
}

tr:last-of-type td {
  .table-header-text__wrapper{
    display: flex;
    flex-wrap: nowrap;
  }
  border: none;
}
tr{
  position: relative;
}
/*change later*/
th {
  text-align: start;
  padding: 15px 7px;
  font-weight: 600px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-header-icon__wrapper {
  padding-left: 5px;
  position: relative;
  overflow: hidden;
}

.stat-card-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
  .stat-card__data {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 210px;
    min-width: 70px;
    height: 130px;
    padding: 15px;
    .stat-card-icon__rounded {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .stat-card-icon__rounded--pinky {
      background-color: $pinklight;
    }
    .stat-card-icon__rounded--purple {
      background-color: $purplelight;
    }
    .stat-card-icon__rounded--orange {
      background-color: $orangelight;
    }
    .stat-card-icon__rounded--red {
      background-color: $redlight;
    }
    .stat-card__text {
      color: $secondary;
      font-size: 12px;
    }
    .stat-card__count {
      color: $primary;
      font-size: 20px;
      font-weight: bolder;
    }
  }
}
.table-header-icon__image {
  width: 1rem;
  height: 0.9rem;
}
.dashboard-footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px;
  color: $secondary;
  .filter {
    display: flex;
    justify-content: space-between;
   
    gap: 25px;
    align-items: center;
    .filter__btn {
      cursor: pointer;
      color: $primary;
      background-color: $secondarylight;
      padding: 7px 14px;
      border-radius: 4px;
      .filter-icon__container {
        padding-left: 10px;
      }
    }
  }
}
/*
**
**user table display modal styles
**
*/
.filter-modal {
  height: 600px;
  width: 270px;
  background-color: white;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.dropdown-input__wrapper {
  background-color: white;
  border: 1px solid $primarylight;
  border-radius: 8px;
  height: 40px;
  width: 230px;
  display: flex;
  align-items: center;
  .dropdown__input {
    border: none;
    width: 90%;
    outline: none;
    padding: 7px 20px;
  }
}
.modal__label {
  margin: 10px 0px;
  color: $secondary;
  font-weight: bold;
}
.filter-modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.filter-input__wrapper {
  background-color: white;
  border: 1px solid $primarylight;
  border-radius: 8px;
  height: 40px;
  width: 230px;
  display: flex;
  align-items: center;
  .filter__input {
    border: none;
    width: 90%;
    outline: none;
    padding: 7px 20px;
  }
}
.filter__btns {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  width: 100%;
}
.filter-btn {
  width: 98px;
  height: 40px;
  border-radius: 8px;
}
.filter-btn--reset {
  border: 1px solid $secondary;
  color: $secondary;
}
.filter-btn--filter {
  color: white;
  background-color: $main-btn;
  border: none;
}
.more-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -65px;
  right: 20px;
  width: 180px;
  height: 130px;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.more__item {
  width: 100%;
  display: flex;
  padding: 10px;
  cursor: pointer;
  .more-icon__wrapper {
    padding: 0px 10px;
    cursor: pointer;
  }
}
@media (max-width:980px) {
 
  .user-table{
   
    
  }
  .m-user-display__table{
    display: block;
    width: 100%;
    margin: auto;
  }
  .user-display__table{
display: none;
  }
  .search__container{
    display: none;
  }
  .nav__container{
    display: none;
  }
  .header{
    .nav__moreverti{
      display: inline-block;
    }
  }
  .stat-card-wrapper{
    justify-content: flex-start;
  }
}
@media(max-width:700px){
  .nav{
    display: none !important;
  }
  .user{
    padding:30px;
  }
  .side-bar{
    display: none;
  }
}
@media (max-width:500px) {
  .stat-card-wrapper{
    flex-direction: column;
    align-items: center;
    .stat-card__data{
      width: 90%;
    }
  }
  .dashboard-footer{
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}